<div class="row">
  <div class="columns">
    <div class="spacer"></div>
    <div class="clearfix">
      <ul class="menu float-left">
        <% if current_user.admin? %>
          <li><%= link_to fa_icon("plus-circle", text: "Add User"), new_user_path %></li>
          <li><%= link_to fa_icon("group", text: "Manage Users"), users_path %></li>
          <li><%= link_to fa_icon("book", text: "View Projects"), projects_path %></li>
          <li><%= link_to fa_icon("line-chart", text: "Reports"), reports_path %></li>
        <% end %>
      </ul>

      <div class="float-right">
        <% if current_log %>
          <%= link_to fa_icon("clock-o", text: "Finish Log"), edit_log_path(current_log), class: 'button no-margin hollow warning' %>
        <% else %>
          <%= button_to logs_path, method: :post, class: 'button no-margin hollow success' do %>
            <%= fa_icon("clock-o", text: "Start New Log") %>
          <% end %>
        <% end %>
      </div>
    </div>
    <hr/>
  </div>
</div>

<div class="row show-for-medium">
  <div class="columns text-center">
    <div class="callout primary dashboard-hours-div">
      <div id="day_hours_count" class="dashboard-today-count">
        <h5>Today: <strong class="stat monospaced primary-text" data-hours="<%= current_day_hours %>"></strong></h5>
      </div>
      <div class="text-center <%= hours_completed_class %>"><h5>Hours Completed</h5></div>
      <div id="week_hours_count" class="dashboard-this-week-count">
        <h5>This Week: <strong class="stat monospaced primary-text" data-hours="<%= current_week_hours %>"></strong></h5>
      </div>
    </div>
  </div>
</div>

<div class="row show-for-medium">

  <div class="columns small-10">
    <canvas id="hours-chart"
            style="margin-bottom: 1rem"
            data-chart-labels="<%= daily_hours_chart_labels %>"
            data-chart-values="<%= daily_hours_chart_values %>"></canvas>
  </div>

  <div class="columns small-2 float-right">
    <label for="unit-amount">Number:</label>
    <input type="number" id="unit-amount" value="5" placeholder="0", max="30">
    <label for="unit-type">Unit:</label>
    <select id="unit-type">
      <option value="<%= [daily_hours_chart_labels, daily_hours_chart_values] %>" selected>Days</option>
      <option value="<%= [weekly_hours_chart_labels, weekly_hours_chart_values] %>">Weeks</option>
      <option value="<%= [monthly_hours_chart_labels, monthly_hours_chart_values] %>">Months</option>
    </select>
    <input type="submit" id="hours-chart-generate" value="Generate Chart">
  </div>
</div>

<div class="row">
  <div class="columns">
    <%= link_to fa_icon("history", text: "View All Logs"), user_path(current_user), class: 'float-right' %>
    <h3>Recent Logs</h3>
    <%= render "dashboard_tabs" %>
    <%= link_to fa_icon("history", text: "View All Logs"), user_path(current_user), class: 'float-right' %>
  </div>
</div>

<div class="spacer"></div>