<div class="row">
  <div class="columns">
    <div class="spacer"></div>
    <div class="clearfix">
      <ul class="menu float-left">
        <% if current_user.admin? %>
          <li><%= link_to icon("plus-circle", "Add User"), new_user_path %></li>
          <li><%= link_to icon("group", "Manage Users"), users_path %></li>
          <li><%= link_to icon("book", "View Projects"), projects_path %></li>
          <li><%= link_to icon("line-chart", "Reports"), reports_path %></li>
        <% end %>
      </ul>

      <div class="float-right">
        <% if current_log %>
          <%= link_to icon("clock-o", "Finish Log"), edit_log_path(current_log), class: 'button no-margin hollow warning' %>
        <% else %>
          <%= link_to icon("clock-o", "Start New Log"), logs_path, method: :post, class: 'button no-margin hollow success' %>
        <% end %>
      </div>
    </div>
    <hr/>
  </div>
</div>

<div class="row show-for-medium">
  <div class="columns small-6 text-center">
    <div class="callout primary" id="week_hours_count">
      <div class="spacer show-for-large"></div>
      <div class="spacer"></div>
      <h5>Hours Completed This Week</h5>
      <strong class="stat" data-hours="<%= current_week_hours %>"></strong>
      <div class="spacer"></div>
      <div class="spacer show-for-large"></div>
    </div>
  </div>

  <div class="columns small-6">
    <canvas id="hours_chart"
            style="margin-bottom: 1rem"
            data-chart-labels="<%= hours_chart_labels %>"
            data-chart-values="<%= hours_chart_values %>"></canvas>
  </div>
</div>

<div class="row">
  <div class="columns">
    <%= link_to "View All Logs", user_path(current_user), class: 'float-right' %>
    <h3>Recent Logs</h3>
    <table>
      <thead>
        <tr>
          <th class="text-right">Log Date</th>
          <th>Duration</th>
          <th class="text-center">Edit</th>
        </tr>
      </thead>
      <tbody>
        <% user_logs = user_logs(current_user).includes(:project_logs) %>
        <% if user_logs.present? %>
          <% user_logs.each do |log| %>
            <tr>
              <td class="text-right"><%= link_to log_title(log), log %></td>
              <td><%= duration log.start_at, log.end_at %></td>
              <td class="text-center"><%= link_to icon("pencil"), edit_log_path(log) %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td class="empty" colspan="3">You have no logs yet</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "View All Logs", user_path(current_user), class: 'float-right' %>
  </div>
</div>

<div class="spacer"></div>