<div class="row">
  <div class="columns">
    <div class="spacer"></div>
    <div class="clearfix">
      <ul class="menu float-left">
        <% if current_user.admin? %>
          <li><%= link_to fa_icon("plus-circle", text: "Add User"), new_user_path %></li>
          <li><%= link_to fa_icon("group", text: "Manage Users"), users_path %></li>
          <li><%= link_to fa_icon("book", text: "View Projects"), projects_path %></li>
          <li><%= link_to fa_icon("line-chart", text: "Reports"), reports_path %></li>
        <% end %>
      </ul>

      <div class="float-right">
        <% if current_log %>
          <%= link_to fa_icon("clock-o", text: "Finish Log"), edit_log_path(current_log), class: 'button no-margin hollow warning' %>
        <% else %>
          <%= button_to logs_path, method: :post, class: 'button no-margin hollow success' do %>
            <%= fa_icon("clock-o", text: "Start New Log") %>
          <% end %>
        <% end %>
      </div>
    </div>
    <hr/>
  </div>
</div>

<div class="row show-for-medium">
  <%= render "hours_chart", dashboard: @dashboard %>
</div>

<div class="row">
  <div class="columns">
    <%= link_to fa_icon("history", text: "View All Logs"), user_path(current_user), class: 'float-right' %>
    <h3>Recent Logs</h3>
    <%= render "dashboard_tabs" %>
    <%= link_to fa_icon("history", text: "View All Logs"), user_path(current_user), class: 'float-right' %>
  </div>
</div>

<div class="spacer"></div>