<%= back_link "Run Personal Report", new_reports_personal_report_path, icon: "line-chart" %>
<%= back_link "Run Project Report", new_reports_project_report_path, icon: "line-chart" %>

<div class="row">
  <div class="columns">
    <img width="150px;" src="<%= image_url("EnVisage_Logo.png") %>">
    <p style="padding-left: 2px; margin-top: 5px; font-size: .8em">EnVisage Consulting, Inc.</p>
  </div>
</div>

<div class="row">
  <div class="columns">
    <!-- <div class="spacer"></div> -->
    <h2>Matrix Report</h2>
    <h3>Projects: <%= @matrix_report.projects&.map(&:name)&.to_sentence %></h3>
    <h3>Employees: <%= @matrix_report.users.length == User.undeactivated.length ? "All" : @matrix_report.users&.map(&:name)&.to_sentence %></h3>
    <h3 class="subheader"><%= @date %></h3>
  </div>
</div>

<%= form_for @matrix_report, url: reports_matrix_reports_path(@matrix_report), html: { class: 'filters-form' } do |f| %>
  <%= form_errors @matrix_report %>

  <div class="row">
    <div class="columns large-5 medium-5">
      <%= f.label :project_ids, "Projects" %>
      <%= f.collection_select :project_ids, Project.active.alphabetized, :id, :name, {}, {multiple: true, class: "multiselect"} %>
    </div>

    <div class="columns large-7 medium-7">
      <%= f.label :user_ids, "Employees" %>
      <%= f.collection_select :user_ids, User.undeactivated, :id, :name, {}, {multiple: true, class: "multiselect multiselect-users"} %>
      <a id="select-all"></a>
    </div>
  </div>

  <div class="row">
    <div class="columns large-5 medium-5 small-6">
      <%= f.label :start_date, "Start Date" %>
      <%= f.text_field :start_date, autocomplete: "off", class: 'date' %>
    </div>

    <div class="columns large-5 medium-5 small-6">
      <%= f.label :end_date, "End Date" %>
      <%= f.text_field :end_date, autocomplete: "off", class: 'date' %>
    </div>

    <div class="columns large-2 medium-2">
      <%= label_tag "", "&nbsp;".html_safe %>
      <%= f.submit "Filter", class: 'button expanded' %>
    </div>
  </div>
<% end %>
<br>


<div class="row">
  <div class="columns">
    <%= link_to(fa_icon("download", text: "Export CSV Report"), reports_matrix_reports_csv_path(start_date: @matrix_report.start_date, end_date: @matrix_report.end_date, projects: @matrix_report.projects, users: @matrix_report.users), class: "button", style: "float: right;") %>

    <h3>Total Hours by Employee and Project</h3>

    <table>
      <thead>
        <tr>
          <td></td>
          <% project_totals = {} %>
          <% @matrix_report.projects.each do |project| %>
            <td class="text-center" style="font-weight: normal;"><%= link_to project.name, reports_project_reports_path(reports_project_report: {project_ids: [project.id], start_date: @matrix_report.start_date, end_date: @matrix_report.end_date}) %></td>
            <% project_totals[project.id] = 0 %>
          <% end %>
          <td class="text-center">Employee Total</td>
        </tr>
      </thead>
      <tbody>
        <% @matrix_report.users.each do |user| %>
          <% user_total = 0 %>
          <tr>
            <td><%= user.name %></td>
            <% @matrix_report.projects.each do |project| %>
              <% amount = @matrix_report.project_user_total_hours(project, user) %>
              <% user_total += amount %>
              <% project_totals[project.id] += amount %>
              <td class="text-center"><%= amount %></td>
            <% end %>
            <td class="text-center"><b><%= user_total %></b></td>
          </tr>
        <% end %>
        <tr>
          <% grand_total = 0 %>
          <td><b>Project Total</b></td>
          <% project_totals.each do |id, total| %>
            <td class="text-center"><b><%= total %></b></td>
            <% grand_total += total %>
          <% end %>
          <td class="text-center"><b><%= grand_total %></b></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>