<%= form_for @user, html: {class: "user-form"} do |f| %>
  <%= form_errors @user %>

  <% if current_user.admin? %>
    <div class="row">
      <div class="columns">
        <%= f.label :role, "User Type" %>
        <%= f.select :role, options_for_select(User.roles.keys.map { |r| [r.titleize, r] }, @user.role), prompt: "Please select one" %>
      </div>
    </div>

    <div class="row" style="display: none;">
      <div class="columns">
        <%= f.label :partner_project_ids, "Partner Projects" %>
        <%= f.select :partner_project_ids, partner_project_options_for(@user), {}, multiple: true, style: "width: 100%;" %>
      </div>
    </div>

    <div class="row" style="display: none;">
      <div class="columns">
        <%= f.label :partner_tag_ids, "Partner Tags" %>
        <%= f.select :partner_tag_ids, partner_tag_options_for(@user), {}, multiple: true, style: "width: 100%;" %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="columns">
      <%= f.label :first %>
      <%= f.text_field :first %>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <%= f.label :last %>
      <%= f.text_field :last %>
    </div>
  </div>


  <div class="row">
    <div class="columns">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  </div>

  <% if @user.persisted? && (current_user.admin? || current_user == @user) %>
    <div class="row">
      <div class="columns">
        <%= label_tag :password %>
        <p><%= link_to fa_icon("lock", text: "Change Password"), edit_user_password_path(@user) %></p>
      </div>
    </div>
  <% end %>


  <div class="row">
    <div class="columns">
      <%= f.submit class: 'button' %>
    </div>
  </div>
<% end %>