<div class="row">
  <div class="columns">
    <div class="spacer"></div>
    <div class="clearfix">
      <ul class="menu float-left">
        <li><%= link_to icon("plus-circle", "Add User"), new_user_path %></li>
        <li><%= deactivated_view_toggle_link %></li>
      </ul>
    </div>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="columns">
    <h3><%= viewing_deactivated? ? "Deactivated Users" : "Manage Users" %></h3>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Email</th>
          <th>Role</th>
          <% if viewing_deactivated? %>
            <th class="text-center">Activate</th>
          <% else %>
            <th class="text-center">Edit</th>
            <th class="text-center">Deactivate</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% if user_list.present? %>
          <% user_list.each do |user| %>
            <tr>
              <td><%= user.last %>, <%= user.first %></td>
              <td><%= mail_to user.email, user.email %></td>
              <td><%= user.role.titleize %></td>
              <% if viewing_deactivated? %>
                <td class="text-center"><%= link_to icon("battery-1"), user_deactivate_path(user, deactivate: false), method: :patch, class: 'deactivate-link', data: { confirm: "Are you sure?" } %></td>
              <% else %>
                <td class="text-center"><%= link_to icon("pencil"), edit_user_path(user) %></td>
                <td class="text-center"><%= link_to icon("battery-full"), user_deactivate_path(user, deactivate: true), method: :patch, class: 'deactivate-link', data: { confirm: "Are you sure?" } %></td>
              <% end %>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td class="empty" colspan="5">No <%= viewing_deactivated? ? 'deactivated' : 'active' %> users</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>