<% if current_user != @user %>
  <%= back_link "Return to User List", users_path %>
<% end %>

<div class="row">
  <div class="columns">
    <div class="spacer"></div>
    <div id="user-log-filter">
      <%= form_tag @user, method: :get, class: 'filters-form' do %>
        <div class="row">
          <div class="columns medium-4">
            <%= label_tag :project_ids, "Projects" %>
            <%= select_tag :project_ids, options_from_collection_for_select(Project.active, :id, :name, params[:project_ids]), {multiple: true, class: "multiselect"} %>
          </div>
          <div class="columns medium-3 small-6">
            <%= label_tag :start_date, "Start Date" %>
            <%= text_field_tag :start_date, params[:start_date], autocomplete: "off", class: 'date' %>
          </div>
          <div class="columns medium-3 small-6">
            <%= label_tag :end_date, "End Date" %>
            <%= text_field_tag :end_date, params[:end_date], autocomplete: "off", class: 'date' %>
          </div>
          <div class="columns medium-2 small-6">
            <%= label_tag "", "&nbsp;".html_safe %>
            <%= submit_tag "Filter", class: 'button expanded' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="spacer"></div>

    <h3><b><%= @user.name %>'s Logs</b></h3>
    <% project_ids = params[:project_ids] %>
    <% if project_ids.present? %>
      <%= render "project_log_table", logs: @logs, user_logs: @user_logs, project_ids: project_ids %>
    <% else %>
      <%= render "user_log_table", logs: @logs %>
    <% end %>
    <%= paginate(@logs, {params: {date: nil}}) if @logs.present? %>
  </div>
</div>