<% if current_user != @user %>
  <%= back_link "Return to User List", users_path %>
<% end %>

<div class="row">
  <div class="columns">
    <div class="spacer"></div>
    <% if @logs.total_count > @per_page %>
      <div class="float-right">
        <%= form_tag @user, method: :get do %>
          <div class="input-group no-margin">
            <%= text_field_tag :date, params[:date] || Date.today.strftime(DATE_STRFTIME), class: "input-group-field date" %>
            <div class="input-group-button">
              <%= submit_tag "Jump to Date", class: 'button' %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <h3><%= @user.name %>'s Logs</h3>
    <table>
      <thead>
        <tr>
          <th></th>
          <th class="text-left">Log Date</th>
          <th class="text-left">Start Time</th>
          <th class="text-left">End Time</th>
          <th class="text-right">Duration</th>
          <th class="text-center">Edit</th>
        </tr>
      </thead>
      <tbody>
        <% if @logs.present? %>
          <% @logs.each do |log| %>
            <tr>
              <td class="text-right">
                <small><%= log_days_of_week(log) %></small>
              </td>
              <td class="text-left"><%= link_to log_title(log), log %></td>
              <td class="text-left"><%= log.start_at.in_time_zone(TIMEZONE).strftime("%-I:%M %p") %></td>
              <td class="text-left"><%= log.end_at.in_time_zone(TIMEZONE).strftime("%-I:%M %p") %></td>
              <td class="text-right"><%= duration log.start_at, log.end_at %></td>
              <td class="text-center"><%= link_to fa_icon("pencil"), edit_log_path(log) %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td class="empty" colspan="3">You have no logs yet</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate(@logs, {params: {date: nil}}) if @logs.present? %>
  </div>
</div>