<%= back_link "Run Project Report", new_reports_project_report_path, icon: "line-chart" if current_user.admin? %>
<%= back_link "Run Matrix Report", new_reports_matrix_report_path, icon: "line-chart" if current_user.admin? %>

<div class="row">
  <div class="columns">
    <img width="150px;" src="<%= image_url("EnVisage_Logo.png") %>">
    <p style="padding-left: 2px; margin-top: 5px; font-size: .8em">EnVisage Consulting, Inc.</p>
  </div>
</div>

<div class="row">
  <div class="columns">
    <!-- <div class="spacer"></div> -->
    <h3>Personal Report for: <%= @personal_report.users&.map(&:name)&.to_sentence %></h3>
    <h5 class="subheader">Period of: <%= @personal_report.start_date %> - <%= @personal_report.end_date %></h5>
  </div>
</div>

<%= form_for @personal_report, url: reports_personal_reports_path(@personal_report), html: { class: 'filters-form' } do |f| %>

  <div class="row">
    <div class="columns medium-4">
      <%= f.label :user_ids, "Employees" %>
      <%= f.collection_select :user_ids, @users, :id, :name, {}, {multiple: true, class: "multiselect multiselect-users"} %>
      <a id="select-all"></a>
    </div>

    <div class="columns medium-2 small-6">
      <%= f.label :start_date, "Start Date" %>
      <%= f.text_field :start_date, autocomplete: "off", class: 'date' %>
    </div>

    <div class="columns medium-2 small-6">
      <%= f.label :end_date, "End Date" %>
      <%= f.text_field :end_date, autocomplete: "off", class: 'date' %>
    </div>

    <div class="columns medium-2 small-6">
      <%= label_tag :sort_date, "Sort Date" %>
      <%= f.select :sort_date, {"Ascending" => "asc", "Descending" => "desc"} %>
    </div>

    <div class="columns medium-2">
      <%= label_tag "", "&nbsp;".html_safe %>
      <%= f.submit "Filter", class: 'button expanded' %>
    </div>

    <div class="row">
      <div class="columns" style="padding-right: 0; width: 65%;">
        <div class="table-tabs" style="float: right;">
          <ul class="tabs-nav" style="margin-top: 0;">
            <%= render "reports/date_shortcut_links", klass: "log-date-button", sty: "padding: 0 0.75rem;" %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="table-tabs">
  <div class="row">
    <ul class="tabs-nav">
      <li class="table-title active-tab" id="full-view-li" style="margin-left: 0;"><a id="full-view-button">Full View</a></li>
      <li class="table-title" id="summary-view-li"><a id="summary-view-button">Summary View</a></li>
    </ul>
    <%= link_to(fa_icon("download", text: "Export CSV Report"), reports_personal_reports_csv_path(start_date: @personal_report.start_date, end_date: @personal_report.end_date, users: @personal_report.users), class: "button", style: "float: right;") %>
  </div>

  <div id="full-view">
    <% @personal_report.users.each do |u| %>
      <div class="row">
        <div class="columns">
          <h3><b><%= u.name %></b></h3>
          <table class="report personal-report">
            <% text = @personal_report.grouped_logs(u).present? %>
            <thead>
              <tr>
                <th class="text-center" style="width: 10%">Date</th>
                <th class="text-center" style="width: 10%">Start</th>
                <th class="text-center" style="width: 10%">Stop</th>
                <th class="text-center" style="width: 10%">Time</th>
                <th style="width: 20%">Project</th>
                <th>Tags</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>

            <% total = 0 %>
            <% @personal_report.grouped_logs(u).each do |date, logs| %>
              <% date_total = 0 %>
              <tbody>
                <% logs.each_with_index do |log, index| %>
                  <% log.project_logs.each do |project_log| %>
                    <%
                      total      += project_log.hours
                      date_total += project_log.hours
                    %>
                    <tr>
                      <% if index == 0 && project_log == log.project_logs.first %>
                        <td class="text-center"><u><%= log.date %></u></td>
                      <% else %>
                        <td></td>
                      <% end %>
                      <td class="text-center"><%= log.start_time %></td>
                      <td class="text-center"><%= log.end_time %></td>
                      <td class="text-center"><%= project_log.hours_two_decimals %></td>
                      <td><%= project_log.project.name %></td>
                      <td><%= project_log.project_tags.map(&:tag).pluck(:name).to_sentence %></td>
                      <td><%= simple_format project_log.description %></td>
                      <td class="text-right"><%= link_to fa_icon("search"), log_path(project_log.log) %></td>
                    </tr>
                  <% end %>
                <% end %>
                <tr class="subtotal">
                  <td></td>
                  <td></td>
                  <td class="text-center">Subtotal:</td>
                  <td class="text-center"><b><%= date_total %></b></td>
                  <td colspan="4"></td>
                </tr>
              </tbody>
            <% end %>
            <tfoot>
              <tr>
                <td></td>
                <td></td>
                <td class="text-center stat total">Total:</td>
                <td class="text-center stat total"><b><%= total %></b></td>
                <td colspan="4"></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    <% end %>
  </div>

  <div id="summary-view" style="display: none;">
    <div class="row">
      <div class="columns">
        <table>
          <thead>
            <tr>
              <th class="text-left">Employee</th>
              <% months = get_months(@personal_report.start_date, @personal_report.end_date) %>
              <% months.each_with_index do |m, i| %>
                <% asterisk = i == 0 || i == months.length - 1 ? "*" : "" %>
                <th class="text-center"><%= Date::ABBR_MONTHNAMES[m[0]] + asterisk %></th>
              <% end %>
              <th class="text-center">Total Hours</th>
            </tr>
          </thead>
          <tbody>
            <% @personal_report.users.each do |u| %>
              <tr>
                <td class="text-left"><%= u.name %></td>
                <% months.each do |m| %>
                  <td class="text-center"><%= get_month_hours(m, u, @personal_report.start_date, @personal_report.end_date) %></td>
                <% end %>
                <td class="text-center"><%= get_hours(u, @personal_report.start_date, @personal_report.end_date) %></td>
              </tr>
            <% end %>
            <tr>
              <td colspan="<%= months.length + 2 %>">* The first and last month follow the date range and don't include the whole month unless specified.<br> Example: if the date range was March 4 - May 20, then the hours include: March: March 4-31, April: April 1-30, May: May 1-20</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>