<%= back_link "Run Payroll Report", new_reports_payroll_report_path, icon: "line-chart" %>

<div class="row">
  <div class="columns">
    <div class="spacer"></div>
    <h3>Invoice Report for: <%= @invoice_report.projects&.map(&:name)&.to_sentence %></h3>
    <h5 class="subheader">Period of: <%= @invoice_report.start_date %> - <%= @invoice_report.end_date %></h3>
  </div>
</div>

<%= form_for @invoice_report, url: reports_invoice_reports_path(@invoice_report), html: { class: 'filters-form' } do |f| %>
  <%= form_errors @invoice_report %>

  <div class="row">
    <div class="columns medium-4">
      <%= f.label :project_ids, "Projects" %>
      <%= f.collection_select :project_ids, Project.active, :id, :name, {}, {multiple: true, class: "multiselect"} %>
    </div>

    <div class="columns medium-3 small-6">
      <%= f.label :start_date, "Start Date" %>
      <%= f.text_field :start_date, class: 'date' %>
    </div>

    <div class="columns medium-3 small-6">
      <%= f.label :end_date, "End Date" %>
      <%= f.text_field :end_date, class: 'date' %>
    </div>

    <div class="columns medium-2">
      <%= label_tag "", "&nbsp;".html_safe %>
      <%= f.submit "Filter", class: 'button expanded' %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="columns">
    <table class="report invoice-report">
      <thead>
        <tr>
          <th class="text-right">Employee</th>
          <% if more_than_one_project(@invoice_report) %>
            <th class="text-right">Project</th>
          <% end %>
          <th class="text-right">Date</th>
          <th class="text-right">Hours</th>
          <th>Description</th>
        </tr>
      </thead>

      <% total = 0 %>
      <% @invoice_report.grouped_project_logs.each do |user, project_logs| %>
        <% project_total = project_logs.map(&:hours).inject(:+); total += project_total %>
        <tbody>
          <% project_logs.each_with_index do |project_log, index| %>
            <tr>
              <% if index == 0 %>
                <td rowspan="<%= project_logs.size %>" class="text-right"><%= project_log.log.user.name %></td>
              <% end %>
              <% if more_than_one_project(@invoice_report) %>
                <td class="text-right"><%= project_log.project.name %></td>
              <% end %>
              <td class="text-right"><%= project_log.log.date %></td>
              <td class="text-right"><%= project_log.hours %></td>
              <td><%= simple_format project_log.description %></td>
            </tr>
          <% end %>
          <tr class="subtotal">
            <% if more_than_one_project(@invoice_report) %>
              <td></td>
            <% end %>
            <td class="text-right" colspan="2">Subtotal:</td>
            <td class="text-right"><%= project_total %></td>
            <td></td>
          </tr>
        </tbody>
      <% end %>
      <tfoot>
        <tr>
          <% if more_than_one_project(@invoice_report) %>
            <td></td>
          <% end %>
          <td class="text-right stat" colspan="2">Total:</td>
          <td class="text-right stat"><%= total %></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>