<%= back_link "Run Payroll Report", new_reports_payroll_report_path, icon: "line-chart" %>

<div class="row">
  <div class="columns">
    <img width="150px;" src="<%= image_url("EnVisage_Logo.png") %>">
    <p style="padding-left: 2px; margin-top: 5px; font-size: .8em">EnVisage Consulting, Inc.</p>
  </div>
</div>

<div class="row">
  <div class="columns">
    <!-- <div class="spacer"></div> -->
    <h2>Timelog Report for: <%= @invoice_report.projects&.map(&:name)&.to_sentence %></h2>
    <h3 class="subheader">Period of: <%= @invoice_report.start_date %> - <%= @invoice_report.end_date %></h3>
  </div>
</div>

<%= form_for @invoice_report, url: reports_invoice_reports_path(@invoice_report), html: { class: 'filters-form' } do |f| %>
  <%= form_errors @invoice_report %>

  <div class="row">
    <div class="columns medium-4">
      <%= f.label :project_ids, "Projects" %>
      <%= f.collection_select :project_ids, Project.active.alphabetized, :id, :name, {}, {multiple: true, class: "multiselect"} %>
    </div>

    <div class="columns medium-3 small-6">
      <%= f.label :start_date, "Start Date" %>
      <%= f.text_field :start_date, class: 'date' %>
    </div>

    <div class="columns medium-3 small-6">
      <%= f.label :end_date, "End Date" %>
      <%= f.text_field :end_date, class: 'date' %>
    </div>

    <div class="columns medium-2">
      <%= label_tag "", "&nbsp;".html_safe %>
      <%= f.submit "Filter", class: 'button expanded' %>
    </div>
  </div>
<% end %>
<br>

<% @invoice_report.projects.each do |project| %>
  <% total = 0 %>
  <div class="row">
    <div class="columns">
      <h4><b><%= project.name %></b></h4>
      <table class="report invoice-report">
        <thead>
          <tr>
            <th class="text-right invoice-column">Employee</th>
            <th class="text-right invoice-column">Date</th>
            <th class="text-right invoice-column">Hours</th>
            <th>Description</th>
          </tr>
        </thead>
        <% @invoice_report.grouped_project_logs(project).each do |user, project_logs| %>
          <tbody>
            <% user_total = project_logs.map(&:hours).inject(:+); total += user_total %>
            <% project_logs.each do |project_log| %>
              <tr>
                <% if project_log == project_logs.first %>
                  <td class="text-right"><%= user.name %></td>
                <% else %>
                  <td></td>
                <% end %>
                <td class="text-right"><%= project_log.log.date %></td>
                <td class="text-right"><%= project_log.hours_two_decimals %></td>
                <td><%= simple_format project_log.description %></td>
              </tr>
            <% end %>
            <tr class="subtotal">
              <td class="text-right" colspan="2">Subtotal:</td>
              <td class="text-right"><b><%= user_total %></b></td>
              <td></td>
            </tr>
          </tbody>
        <% end %>
        <tfoot>
          <tr>
            <td class="text-right stat total" colspan="2">Total:</td>
            <td class="text-right stat total"><%= total %></td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
<% end %>