<%= back_link "Run Payroll Report", new_reports_payroll_report_path, icon: "line-chart" %>

<div class="row">
  <div class="columns">
    <div class="spacer"></div>
    <h1>Invoice Report</h1>
  </div>
</div>

<%= form_for @invoice_report, url: reports_invoice_reports_path(@invoice_report) do |f| %>
  <%= form_errors @invoice_report %>

  <div class="row">
    <div class="columns">
      <%= f.label :project_id %>
      <%= f.collection_select :project_id, Project.active, :id, :name, {}, {multiple: true, class: "multiselect"} %>
    </div>
  </div>

  <div class="row">
    <div class="columns small-6">
      <%= f.label :start_date %>
      <%= f.text_field :start_date, class: 'date' %>
    </div>
    <div class="columns small-6">
      <%= f.label :end_date %>
      <%= f.text_field :end_date, class: 'date' %>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <%= f.submit "View Report", class: 'button' %>
    </div>
  </div>
<% end %>