<div class="row">
  <div class="columns">
    <div class="spacer"></div>
    <div class="clearfix">
      <ul class="menu float-left">
        <li><%= link_to fa_icon("plus-circle", text: "Add Project"), new_project_path %></li>
        <li><%= deactivated_view_toggle_link %></li>
        <li><%= link_to fa_icon("tags", text: "View Project Tags"), tags_path %></li>
      </ul>
    </div>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="columns">
    <h3><%= 'Deactivated ' if viewing_deactivated? %>Projects</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th class="text-center">Edit</th>
        </tr>
      </thead>
      <tbody>
        <% if project_list.present? %>
          <% project_list.each do |project| %>
            <tr>
              <td><%= link_to project.name, edit_project_path(project) %></td>
              <td class="text-center"><%= link_to fa_icon("pencil"), edit_project_path(project) %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td class="empty" colspan="2">No <%= viewing_deactivated? ? 'deactivated' : 'active' %> projects</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>