<div class="row">
  <div class="columns">
    <div class="spacer"></div>
    <%= link_to icon("toggle-#{viewing_deactivated? ? 'on' : 'off'}", "#{viewing_deactivated? ? 'A' : 'Dea'}ctivated Projects"), projects_path(deactivated: !viewing_deactivated?), class: 'button expanded' %>
    <%= link_to icon("plus-circle", "Add Project"), new_project_path, class: 'button expanded' %>
  </div>
</div>

<div class="row">
  <div class="columns">
    <hr/>
    <h3><%= 'Deactivated ' if viewing_deactivated? %>Projects</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th class="text-center">Edit</th>
        </tr>
      </thead>
      <tbody>
        <% if project_list.present? %>
          <% project_list.each do |project| %>
            <tr>
              <td><%= link_to project.name, edit_project_path(project) %></td>
              <td class="text-center"><%= link_to icon("pencil"), edit_project_path(project) %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td class="empty" colspan="2">No <%= viewing_deactivated? ? 'deactivated' : 'active' %> projects</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>