<%= form_for @comprehensive_report, url: reports_comprehensive_reports_path(@comprehensive_report), html: { class: 'filters-form' } do |f| %>
  <%= form_errors @comprehensive_report %>

  <div class="row">
    <div class="columns large-5 medium-5">
      <%= f.label :project_ids, "Projects" %>
      <%= f.select :project_ids, options_for_select(@projects.map {|p| [p.deactivated_name, p.id, {data: {active: p.active?}}]}, params[:reports_comprehensive_report]&.dig(:project_ids)), {}, {multiple: true, class: "multiselect multiselect-projects"} %>
      <a id="select-active-projects">Select All Active</a> | <%= link_to ((@include_deactivated_projects ? "Ex" : "In")+"clude Deactivated"), deactivated_report_params(@comprehensive_report, "deactivated_projects", @include_deactivated_projects) %>
    </div>

    <div class="columns large-7 medium-7">
      <%= f.label :user_ids, "Employees" %>
      <%= f.select :user_ids, options_for_select(@users.map {|u| [u.deactivated_name, u.id, {data: {active: u.active?}}]}, params[:reports_comprehensive_report]&.dig(:user_ids)), {}, {multiple: true, class: "multiselect multiselect-users"} %>
      <a id="select-active-users">Select All Active</a> | <%= link_to ((@include_deactivated_users ? "Ex" : "In")+"clude Deactivated"), deactivated_report_params(@comprehensive_report, "deactivated_users", @include_deactivated_users) %>
    </div>
  </div>

  <%= f.hidden_field :deactivated_projects, value: @include_deactivated_projects %>
  <%= f.hidden_field :deactivated_users, value: @include_deactivated_users %>

  <div class="row">
    <div class="columns large-5 medium-5 small-6">
      <%= f.label :start_date, "Start Date" %>
      <%= f.text_field :start_date, autocomplete: "off", class: 'date' %>
    </div>

    <div class="columns large-5 medium-5 small-6">
      <%= f.label :end_date, "End Date" %>
      <%= f.text_field :end_date, autocomplete: "off", class: 'date' %>
    </div>

    <div class="columns large-2 medium-2">
      <%= label_tag "", "&nbsp;".html_safe %>
      <%= f.submit "Filter", class: 'button expanded' %>
    </div>
  </div>
<% end %>