<%= back_link "Run Invoice Report", new_reports_invoice_report_path, icon: "line-chart" %>

<div class="row">
  <div class="columns">
    <div class="spacer"></div>
    <h3>Personal Summary Report for: <%= @payroll_report.user.name %></h3>
    <h5 class="subheader">Period of: <%= @payroll_report.start_date %> - <%= @payroll_report.end_date %></h5>
  </div>
</div>

<div class="row no-print">
  <div class="columns">
    <%= form_for @payroll_report, url: reports_payroll_reports_path(@payroll_report) do |f| %>
      <div class="row">
        <div class="columns medium-4">
          <%= f.label :user_id, "Employee" %>
          <%= f.collection_select :user_id, User.activated, :id, :name %>
        </div>

        <div class="columns medium-3 small-6">
          <%= f.label :start_date %>
          <%= f.text_field :start_date, class: 'date' %>
        </div>
        <div class="columns medium-3 small-6">
          <%= f.label :end_date %>
          <%= f.text_field :end_date, class: 'date' %>
        </div>

        <div class="columns medium-2">
          <%= label_tag "", "&nbsp;".html_safe %>
          <%= f.submit "Filter", class: 'button expanded' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="columns">
    <table class="report payroll-report">
      <thead>
        <tr>
          <th class="text-right">Date</th>
          <th class="text-right">Start</th>
          <th class="text-right">Stop</th>
          <th class="text-right">Time</th>
          <th>Project</th>
          <th>Description</th>
        </tr>
      </thead>

      <% total = 0 %>
      <% @payroll_report.grouped_logs.each do |date, logs| %>
        <% date_total = 0 %>
        <tbody>
          <% logs.each_with_index do |log, index| %>
            <% log.project_logs.each do |project_log| %>
              <%
                total      += project_log.hours
                date_total += project_log.hours
              %>
              <tr>
                <% if index == 0 %>
                  <td class="text-right" rowspan="<%= logs.map(&:project_logs).flatten.size %>"><u><%= log.date %></u></td>
                <% end %>
                <td class="text-right"><%= log.start_time %></td>
                <td class="text-right"><%= log.end_time %></td>
                <td class="text-right"><%= project_log.hours %></td>
                <td><%= project_log.project.name %></td>
                <td><%= simple_format project_log.description %></td>
              </tr>
            <% end %>
          <% end %>
          <tr class="subtotal">
            <td class="text-right" colspan="3">Subtotal:</td>
            <td class="text-right"><b><%= date_total %></b></td>
            <td colspan="2"></td>
          </tr>
        </tbody>
      <% end %>
      <tfoot>
        <tr>
          <td class="text-right stat" colspan="3">Total:</td>
          <td class="text-right stat"><b><%= total %></b></td>
          <td colspan="2"></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>