<%= back_link "Run Invoice Report", new_reports_invoice_report_path, icon: "line-chart" %>

<div class="row">
  <div class="columns">
    <div class="spacer"></div>
    <h1>Payroll Report</h1>
  </div>
</div>

<%= form_for @payroll_report, url: reports_payroll_reports_path(@payroll_report) do |f| %>
  <%= form_errors @payroll_report %>

  <div class="row">
    <div class="columns">
      <%= f.label :user_ids %>
      <%= f.collection_select :user_ids, User.activated, :id, :name, {}, {multiple: true, class: "multiselect"} %>
      <a onclick='return selectAll()' id="select-all">Select All</a>
    </div>
  </div>

  <div class="row">
    <div class="columns small-6">
      <%= f.label :start_date %>
      <%= f.text_field :start_date, class: 'date' %>
    </div>
    <div class="columns small-6">
      <%= f.label :end_date %>
      <%= f.text_field :end_date, class: 'date' %>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <%= f.submit "View Report", class: 'button' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  function selectAll() {
    if ($("#select-all").text() === "Select All") {
      var selected = [];
      $(".multiselect").find("option").each(function(i,e){
        selected[selected.length]=$(e).attr("value");
      });

      $(".multiselect").val(selected);
      $("#select-all").text("Deselect All")
    }
    else {
      $(".multiselect").val([]);
      $("#select-all").text("Select All")
    }
    $('.multiselect').trigger('change');
    return false;
  }

  $(".multiselect").change(function () {
    console.log("here");
    var optionCount = $(".multiselect").find("option").length;
    var numSelected = $(".multiselect").val();

    if (numSelected === null || numSelected.length < optionCount / 2)
      $("#select-all").text("Select All")
    else
      $("#select-all").text("Deselect All")
  });
</script>