<%= back_link "Run Project Report", new_reports_invoice_report_path, icon: "line-chart" %>

<div class="row">
  <div class="columns">
    <div class="spacer"></div>
    <h1>Payroll Report</h1>
  </div>
</div>

<%= form_for @payroll_report, url: reports_payroll_reports_path(@payroll_report) do |f| %>
  <%= form_errors @payroll_report %>

  <div class="row">
    <div class="columns">
      <%= f.label :user_ids, "Employees" %>
      <%= f.collection_select :user_ids, User.undeactivated, :id, :name, {}, {multiple: true, class: "multiselect"} %>
      <a id="select-all"></a>
    </div>
  </div>

  <div class="row">
    <div class="columns small-6">
      <%= f.label :start_date, "Start Date" %>
      <%= f.text_field :start_date, class: 'date' %>
    </div>
    <div class="columns small-6">
      <%= f.label :end_date, "End Date" %>
      <%= f.text_field :end_date, class: 'date' %>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <%= f.submit "View Report", class: 'button' %>
    </div>
  </div>
<% end %>