<div class="row">
  <div class="columns">
    <div class="spacer"></div>
    <h1>Payroll Report</h1>
  </div>
</div>

<%= form_for @payroll_report, url: reports_payroll_reports_path(@payroll_report) do |f| %>
  <%= form_errors @payroll_report %>

  <div class="row">
    <div class="columns">
      <%= f.label :user_id %>
      <%= f.collection_select :user_id, User.activated, :id, :name, include_blank: "Select a user" %>
    </div>
  </div>

  <div class="row">
    <div class="columns small-6">
      <%= f.label :start_date %>
      <%= f.text_field :start_date, class: 'date' %>
    </div>
    <div class="columns small-6">
      <%= f.label :end_date %>
      <%= f.text_field :end_date, class: 'date' %>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <%= f.submit "View Report", class: 'button' %>
    </div>
  </div>
<% end %>