<%= back_link "Run Personal Report", new_reports_personal_report_path, icon: "line-chart" %>
<%= back_link "Run Comprehensive Report", new_reports_comprehensive_report_path, icon: "line-chart" %>

<div class="row">
  <div class="columns">
    <h2>Project Report for: <%= @project_report.projects&.map(&:name)&.to_sentence %></h2>
    <% if @project_report.project_tags.present? %>
      <h3 class="subheader">Tags: <%= @project_report.project_tags&.map(&:name)&.to_sentence %></h3>
    <% end %>
    <h3 class="subheader"><%= @date %></h3>
  </div>
</div>

<%= render "form" %><br>

<div class="table-tabs">
  <div class="row">
    <ul class="tabs-nav">
      <li class="table-title active-tab" id="full-view-li" style="margin-left: 0;"><a id="full-view-button">Full View</a></li>
      <li class="table-title" id="summary-view-li"><a id="summary-view-button">Summary View</a></li>
      <%= link_to(fa_icon("download", text: "Export CSV Report"), reports_project_reports_csv_path(start_date: @project_report.start_date, end_date: @project_report.end_date, projects: @project_report.projects, project_tags: @project_report.project_tags), class: "button", style: "float: right;") %>

    </ul>
  </div>

  <div id="full-view">
    <% @project_report.projects.each do |project| %>
      <% total = 0 %>
      <div class="row">
        <div class="columns">
          <h4><b><%= project.name %></b></h4>
          <table class="report project-report">
            <thead>
              <tr>
                <th class="text-right project-column" style="width: 15%;">Employee</th>
                <th class="text-right project-column" style="width: 15%;">Date</th>
                <th class="text-right project-column" style="width: 15%;">Tags</th>
                <th class="text-right project-column" style="width: 10%;">Hours</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
            <% @project_report.grouped_project_logs(project).each do |user, project_logs| %>
              <tbody>
                <% user_total = project_logs.map(&:hours).inject(:+); total += user_total %>
                <% project_logs.each do |project_log| %>
                  <tr>
                    <% if project_log == project_logs.first %>
                      <td class="text-right"><%= user.name %></td>
                    <% else %>
                      <td></td>
                    <% end %>
                    <td class="text-right"><%= project_log.log.date %></td>
                    <td class="text-right"><%= project_log.project_tags.map(&:tag).pluck(:name).to_sentence %></td>
                    <td class="text-right"><%= project_log.hours_two_decimals %></td>
                    <td><%= simple_format project_log.description %></td>
                    <td class="text-right"><%= link_to fa_icon("search"), log_path(project_log.log) %></td>
                  </tr>
                <% end %>
                <tr class="subtotal">
                  <td colspan="2"></td>
                  <td class="text-right">Subtotal:</td>
                  <td class="text-right"><b><%= user_total %></b></td>
                  <td colspan="3"></td>
                </tr>
              </tbody>
            <% end %>
            <tfoot>
              <tr>
                <td colspan="2"></td>
                <td class="text-right stat total">Total:</td>
                <td class="text-right stat total"><%= total %></td>
                <td colspan="3"></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    <% end %>
  </div>

  <div id="summary-view" style="display: none;">
    <div class="row">
      <div class="columns">
        <table>
          <thead>
            <tr>
              <% month_hours = {} %>
              <th class="text-left">Project</th>
              <% months = get_months(@project_report.start_date, @project_report.end_date) %>
              <% months.each_with_index do |m, i| %>
                <% asterisk = i == 0 || i == months.length - 1 ? "*" : "" %>
                <th class="text-center"><%= Date::ABBR_MONTHNAMES[m[0]] + asterisk %></th>
                <% month_hours[m[0].to_s+m[1].to_s] = 0 %>
              <% end %>
              <% month_hours["Total"] = 0 %>
              <th class="text-center">Total Hours</th>
            </tr>
          </thead>
          <tbody>
            <% @project_report.projects.each do |project| %>
              <tr>
                <td class="text-left"><%= project.name %></td>
                <% months.each do |m| %>
                  <% m_hours = get_month_hours(m, project, @project_report.start_date, @project_report.end_date) %>
                  <td class="text-center"><%= m_hours %></td>
                  <% month_hours[m[0].to_s+m[1].to_s] += m_hours.to_f %>
                <% end %>
                <% total_hours = @project_report.project_logs(project).pluck(:hours).inject(:+) || 0 %>
                <td class="text-center"><%= total_hours %></td>
                <% month_hours["Total"] += total_hours %>
              </tr>
            <% end %>
            <tr>
              <td class="text-left"><b>Total</b></td>
              <% months.each do |m| %>
                <td class="text-center"><%= format_hours(month_hours[m[0].to_s+m[1].to_s]) %></td>
              <% end %>
              <td class="text-center"><%= format_hours(month_hours["Total"]) %></td>
            </tr>
            <tr>
              <td colspan="<%= months.length + 2 %>">* The first and last month follow the date range and don't include the whole month unless specified.<br> Example: if the date range was March 4 - May 20, then the hours include: March: March 4-31, April: April 1-30, May: May 1-20</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>