<%= form_for @log, html: {class: @log.activated? ? nil : "autosave"} do |f| %>
  <%= form_errors @log %>
  <div class="row">
    <div class="columns medium-5">
      <%= f.label :start_at, "Start Date" %>
      <div class="input-group">
        <%= f.text_field :start_at, value: input_datetime(@log.start_at), placeholder: "MM/DD/YYYY HH:MM XM", data: { inputmask: "'alias': 'mm/dd/yyyy hh:mm xm'", old_date: input_datetime(@log.start_at) }, autocomplete: "off", pattern: '[\d]{1,2}/[\d]{1,2}/[\d]{4} [\d]{1,2}:[0-5]\d [APap][Mm]', title: "MM/DD/YYYY HH:MM XM", class: 'input-group-field datetime' %>
        <div class="input-group-button">
          <%= link_to fa_icon('clock-o', text: "Set Current Time"), 'javascript:void(0);', class: 'button datetime-setter' %>
        </div>
      </div>
    </div>

    <div class="columns medium-5">
      <%= f.label :end_at, "End Date" %>
      <div class="input-group">
        <%= f.text_field :end_at, value: input_datetime(@log.end_at), placeholder: "MM/DD/YYYY HH:MM XM", data: { inputmask: "'alias': 'mm/dd/yyyy hh:mm xm'", old_date: input_datetime(@log.end_at) }, autocomplete: "off", pattern: '[\d]{1,2}/[\d]{1,2}/[\d]{4} [\d]{1,2}:[0-5]\d [APap][Mm]', title: "MM/DD/YYYY HH:MM XM", class: 'input-group-field datetime' %>
        <div class="input-group-button">
          <%= link_to fa_icon('clock-o', text: "Set Current Time"), 'javascript:void(0);', class: 'button datetime-setter' %>
        </div>
      </div>
    </div>

    <div class="columns medium-2"><label>Total Hours</label><span class="stat">...</span></div>
  </div>

  <div class="row">
    <div class="columns">
      <fieldset class="fieldset">
        <legend><%= f.label :project_logs, "Log's Projects" %></legend>

        <div id="document_project_logs">
          <%= f.fields_for :project_logs do |ff| %>
            <%= render 'project_log_fields', fields_for: ff %>
          <% end %>
        </div>

        <div class="row" style="margin-top: 10px;">
          <div class="columns large-3 medium-3 small-4"><%= link_to_add_project(f, :project_logs) %></div>
          <div class="columns large-1 medium-2 small-2">
            <input type="text" id="total_percent" name="total_percent" value="100" readonly>
          </div>
          <div class="columns large-8 medium-7 small-6"></div>
        </div>



      </fieldset>
    </div>
  </div>

  <div class="row" id="start-new-log-row" data-current-log-id="<%= current_log&.id %>" data-editing-log-id="<%= @log.id %>">
    <div class="columns" id="start-new-log" style="display: none;">
      <%= f.submit "Save and Start a New Log", class: 'button success expanded hollow' %>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <%= f.submit "Save Log", class: 'button success expanded' %>
    </div>
  </div>
<% end %>

<% unless @log.activated? %>
  <div class="row">
    <div class="columns" style="position: relative;">
      <%= link_to fa_icon("ban", text: "Cancel Log"), log_path(@log), method: :delete, data: { confirm: "Are you sure?" }, class: 'alert-link' %>
      <%= button_tag "Save Draft for Later", class: 'autosave_link', data: { draft_url: save_draft_log_path(@log) }, style: "float: right; color: #fefefe; background-color: #2199e8; padding: 10px 20px; font-size: 0.9rem;", onmouseover: "this.style.backgroundColor='#1a7ec8'", onmouseout: "this.style.backgroundColor='#2199e8'" %>
      <span class="auto-save-indicator" style="color: green; position: absolute; right: 15px; top: 100%; display: none;"> Changes Saved! </span>
    </div>
  </div>
<% end %>

<div class="spacer"></div>