<% selectable_tags = tag_select_list(fields_for.object) %>

<div class="project-log-fields" id="log_project_logs_attributes_<%= fields_for.options[:child_index] %>">
  <div class="row">
    <div class="columns large-3 medium-3 small-4">
      <%= fields_for.label :project_id %>
      <%= fields_for.select :project_id, options_from_collection_for_select(project_select_list(fields_for.object), :id, :name, fields_for.object.project_id), prompt: "Please select one" %>
      <% if selectable_tags.present? %>
        <%= fields_for.collection_select :project_tags, selectable_tags, :id, :name, {}, {data: {selected: fields_for.object.tag_ids}, multiple: true, class: "multiselect project-tags"} %>
      <% end %>
      <% if current_user.admin? %>
        <div class="row">
          <div class="columns">
            <%= fields_for.check_box :non_billable %>
            <%= fields_for.label :non_billable, "Non-billable?", id: "checkbox-label" %>
          </div>
        </div>
      <% end %>

      <small><%= link_to_remove_project(fields_for) %></small>
    </div>

    <div class="columns large-1 medium-2 small-2">
      <%= fields_for.label :percent, "%" %>
      <%= fields_for.text_field :percent, placeholder: "%", class: "percent_field" %>
    </div>

    <div class="columns large-8 medium-7 small-6">
      <%= fields_for.label :description %>
      <%= fields_for.text_area :description, rows: 3, placeholder: "Enter description of completed work" %>
    </div>
  </div>
</div>