<div class="project-log-fields" id="log_project_logs_attributes_<%= fields_for.options[:child_index] %>">
  <div class="row">
    <div class="columns large-3 medium-3 small-4">
      <%= fields_for.label :project_id %>
      <%= fields_for.select :project_id, options_from_collection_for_select(Project.all, :id, :name), prompt: "Please select one" %>
      <% if current_user.admin? %>
        <div class="row">
          <div class="columns">
            <%= fields_for.check_box :non_billable %>
            <%= fields_for.label :non_billable, "Non-billable?", id: "checkbox-label" %>
          </div>
        </div>
      <% end %>

      <small><%= link_to_remove_project(fields_for) %></small>
    </div>

    <div class="columns large-1 medium-2 small-2">
      <%= fields_for.label :percent, "%" %>
      <%= fields_for.text_field :percent, placeholder: "%" %>
    </div>

    <div class="columns large-8 medium-7 small-6">
      <%= fields_for.label :description %>
      <%= fields_for.text_area :description, rows: 2, placeholder: "Enter description of completed work" %>
    </div>
  </div>
</div>