<div class="row">
  <div class="columns">
    <div class="spacer"></div>
    <div class="clearfix">
      <% if can?(:edit, @log) %>
        <ul class="menu float-left">
          <li><%= link_to fa_icon("pencil", text: "Edit Log"), edit_log_path(@log) %></li>
        </ul>
      <% end %>

      <div class="float-right text-right">
        <% if !current_log && current_user.logs.order('end_at DESC').first == @log %>
          <%= link_to fa_icon("clock-o", text: "Continue With New Log"), logs_path(continue: true), method: :post, class: 'button no-margin hollow success small', title: "Start New Log From #{input_datetime @log.end_at}", data: { tooltip: true } %>
        <% end %>
      </div>
    </div>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="columns">
    <h1>
      <%= log_title(@log) %>
      <small style="font-size: 60%;">
        <%= @log.start_at.in_time_zone(TIMEZONE).strftime("%-I:%M %p") %> - <%= @log.end_at.in_time_zone(TIMEZONE).strftime("%-I:%M %p") %>
      </small>
    </h1>
  </div>
</div>

<div class="row">
  <div class="columns">
    <table>
      <thead>
        <tr>
          <th>Project</th>
          <% if current_user.admin? %>
            <th class="text-right">Billable?</th>
          <% end %>
          <th class="text-right">Allocation</th>
          <th class="text-right">Hours</th>
        </tr>
      </thead>

      <tbody>
        <% @log.project_logs.includes(:project).each do |project_log| %>
          <tr>
            <td>
              <h5><%= project_log.project.name %></h5>
              <%= simple_format project_log.description %>
            </td>
            <% if current_user.admin? %>
              <td class="text-right"><%= fa_icon("check") unless project_log.non_billable? %></td>
            <% end %>
            <td class="text-right"><%= project_log.total_allocation * 100 %>%</td>
            <td class="text-right"><%= project_log.hours %></td>
          </tr>
        <% end %>
      </tbody>

      <tfoot>
        <tr>
          <td>Totals:<span class="float-right">&nbsp;<%= pluralize(@log.project_logs.size, "project") %></span></td>
          <td></td>
          <td></td>
          <td class="text-right"><%= @log.hours.round(2) %></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>