<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EnVisage Timelog<%= " - " + yield(:title) if content_for?(:title) %></title>

    <%= stylesheet_link_tag    'application-all', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application-print', media: 'print', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>

    <!-- select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>

  <body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>" data-current-log="<%= current_log.present? %>">
    <div id="page-container">
      <div id="content-wrap">
        <%= render 'layouts/header' %>
        <%= render 'layouts/current_log' if current_log %>
        <%= render 'layouts/flash' if flash.present? %>
        <%= yield(:back_link) %>
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
