<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>EnVisage Timelog<%= " - " + yield(:title) if content_for?(:title) %></title>

    <%= stylesheet_link_tag    'application-all', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application-print', media: 'print', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>" data-current-log="<%= current_log.present? %>">
    <%= render 'layouts/header' %>
    <%= render 'layouts/current_log' if current_log %>
    <%= render 'layouts/flash' if flash.present? %>
    <%= yield(:back_link) %>
    <%= yield %>
  </body>
</html>
