<div class="row">
  <div class="columns">
    <div class="spacer"></div>
    <h1>Set New Password</h1>
  </div>
</div>

<%= form_for @user, url: password_recovery_path(@password_recovery) do |f| %>
  <%= form_errors @user %>

  <div class="row">
    <div class="columns">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <%= f.submit class: 'button' %>
    </div>
  </div>
<% end %>